<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Ma Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="active">Accueil</a></li>
                <li><a href="/apropos" class="active">À propos</a></li>
                <li><a href="#" class="active">Services</a></li>
                <li><a href="/contact" class="active">Contact</a></li>
            </ul>
        </nav>
        <h1><span>Projet CIR 2024</span></h1>
        <img src="static/Sopra-Steria-Logo.jpg" alt="Logo Sopra Steria">
    </header>
    <p>Page d'atterrissage après la validation</p>
</body>
</html>
